.node {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 3px;
  border: 1px solid black;
  margin: 0;
  display: inline-block;
  flex: none;
}

.nodeContainer {
  flex: none;
  display: flex;
  justify-content: center;
  margin: 2px;
}
